img{
    margin-left: 5px;
    width: 30px;
    height: 30px;
}

span{
    font-size: 18px;
}

#autor{
    font-weight: bold;

}

.footer{
    margin-top: 50px;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.d-flex{
    margin-top: 45px;
}

@media screen and (max-width: 600px){
    span{
        font-size: 14px;
    }
    img{
        margin-top: -5px;
        width: 15px;
        height: 15px;
    }
}