<header>
    <nav class="navbar navbar-light justify-content-end" style="background-color: #e3f2fd">
        <ul class="nav">
            <li class="nav-item">
                <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="nav-link">Inicio</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/turnos']" routerLinkActive="router-link-active"  class="nav-link">Turnos</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/registro']" routerLinkActive="router-link-active"  class="nav-link">Contacto</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/ubicacion']" class="nav-link">Ubicación</a>
            </li>
            <li class="nav-item">
                <a (click)="logout()">Logout</a>
            </li>
        </ul>
    </nav>
</header>