/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
body {
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mat-simple-snackbar{
    font-weight: bold;
}

.mat-snack-bar-container{
    min-width: 400px;
}

.error{
    background-color: red;
    color: white;
}

.error button{
    background-color: orangered;
    color: white;
}

.info{
    background-color:rgb(255, 253, 109);
    color: black;
}

.info button{
    background-color:rgb(253, 249, 0);
    color: black;
}

.okReg{

    background-color: green;
    color: white;
}

.okReg button{
    background-color: rgb(32, 209, 32);
    color: white;
}

.okTurn{
    background-color: blue;
    color: white;
}

.okTurn button{
    background-color: rgb(19, 86, 230);
    color: white;
}


