<app-navbar></app-navbar>

<div id="mes">
  <div class="row text-center">
    <div class="col-md-4"></div>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate: view + 'ViewTitle':'Es'}}</h3>
      </div>
  </div>

  <div [ngSwitch]="view" class="calendario">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      [locale]="locale"
      [refresh]="refresh"
      [excludeDays]="excludeDays"
      (beforeViewRender)="beforeMonthViewRender($event)"
      (dayClicked)="clickDate(clickedDate = $event.day.date)"
    >
    </mwl-calendar-month-view>
  </div>

  <app-calendar-header [(view)]="view" [(viewDate)]="viewDate" [locale]="locale"></app-calendar-header>
</div>

<label id="seleccion" *ngIf="clickedDate">Día seleccionado: <label class="dia">{{dia}}</label> </label>


<div *ngIf="show">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="dia">Horario</th>
        <th scope="col" class="dia">Agendar</th>
      </tr>
    </thead>
    <tbody *ngFor="let hs of horario; let i=index">
      <tr>
        <td><strong>{{hs.hs}}</strong></td>
        <td>
          <button class="btn btn-success" (click)="agendar(hs.id, clickedDate, i)">Agendar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>